auto-save-list/  
elfeed/  
elfeed.org  
elpa/  
init.el  
recentf  
snippets/  
straight/  
var/
.extension/
.cache/
*~
projectile-bookmarks.eld
/target
*.abcl
*.fasl
*.dx32fsl
*.dx64fsl
*.lx32fsl
*.lx64fsl
*.x86f
*~
.#*
